@font-face {
	font-family: 'deathrattlebbreg';
	src: url('./deathrattlebbreg.eot');
	src: local('deathrattlebbreg'), url('./deathrattlebbreg.woff') format('woff'), url('./deathrattlebbreg.ttf') format('truetype');
}

.fontsforweb_fontid_422 {
	font-family: 'deathrattlebbreg' !important;
}

@font-face {
	font-family: 'LCDM2U';
	src: url('./LCDM2U.eot');
	src: local('LCDM2U'), url('./LCDM2U.woff') format('woff'), url('./LCDM2U.ttf') format('truetype');
}

.fontsforweb_fontid_511 {
	font-family: 'LCDM2U' !important;
}

@font-face {
	font-family: 'monof55';
	src: url('./monof55.eot');
	src: local('monof55'), url('./monof55.woff') format('woff'), url('./monof55.ttf') format('truetype');
}

.fontsforweb_fontid_368 {
	font-family: 'monof55' !important;
}

body{
	background-color: #C3BFC9;
	text-align: center;
	vertical-align: middle;

}
header{
	background-color: #C3BFC9;
	position: relative;
	height: 80px;
	
}
main{
	text-align: center;
	background-color:#31081F;
    margin: 0% 33% 0% 33%;
    overflow: auto;
	border-radius: 20px;
	padding-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

.screen{
	position: relative;
	background-color: #DCE0D9;
	margin: 2% 10% 2% 10%;
	height: 75px;
	padding-right: 10px; 
	border: 2px solid #CECECE;
    border-radius: 5px;
	
}
.bigresult{
	position:absolute;
	top:0;
	right:0;
	font-size: 2.7em;
	padding-right: 10px;
	background-color: #DCE0D9;
	text-align: right;
	color: #23022E;
}

.smallresult{
	position:absolute;
	bottom:0;
	right:0;
	font-size: 1.2em;
	padding-right: 10px;
	padding-bottom: 2px;
	background-color: #DCE0D9;
	text-align: right;
	color: #23022E;
}

h3{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:3.5em; 
    color: #23022E;

}

h2 {
	margin-top: 20px;
	font-size: 1.7em;
	color: #DCE0D9;
	font-weight: bold;
	font-family: 'monof55' !important;
}

ul{
	text-align: center;
}
li{
	text-align: center;
	height: 70px;
	width: 70px;
	background-color: #ADA8B6;
	font-size: 2em;
	border-width: 1px;
	border-style: solid;
	border-radius: 20px;
	border-color: #927472;
	margin: 8px 15px 8px 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p{
	padding-top: 17px;
	color: #31081F;
	font-family: 'monof55' !important;
	font-weight: bold;
}

.point{
	
	margin-left: 15px;
}

.equal{
	display: flex;
	height: 160px;
	align-items: center;
}
.equal p {
	margin-left: 25px;
	margin-bottom: 15px;
}
.column{
	float:left;	
}

.left {
	margin-left: 50px;
}

.center{
	margin-left: 0px;
}
.bottomrow li{
	float: left;
	
}

.bottomrow {
	clear: left;	
	overflow: auto;
}

.zero {
	margin-left: 65px; 
	width:170px;
}
.finalColumn{
	padding-left: 3px;
	float: left;	
}
.container{
	float: left;
}